@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

html,body,div,h1,h2,h3,p,ul,ol,li,hr {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 100%;
    margin: 0 auto;
  background: #E5E5E5;
}

/* Common */
#welcomeContent, #authContent {
  width: 450px;
  background: white;
  border-radius: .5em;
  text-align: center;
  box-shadow:0 0 5px 5px rgba(0,0,0,0.1);
}

button {
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  font-size: 1rem;
}

button:active {
  background-color: #F3C010 !important;
}

button:focus {
    outline: none;
}

/* Welcome */

#welcomeContent {
  margin: 10% auto 0;
}

#welcomeContent header {
  background-color: #ffc600;
  border-radius: .5em .5em 0 0;
  border-bottom: 5px solid #F3C010;
  padding: .5rem;
  font-family: 'Pacifico', cursive;

}

#welcomeContent img {
  width: 50%;
    height: auto;
    margin: 2rem auto;
}

#welcomeContent button {
    background:#ffc600;
    width: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-bottom: 5px solid #F3C010;
    font-size: 1rem;
}

#welcomeContent button:nth-of-type(1) {
  float: left;
  margin-left: 2.5%;
}

#welcomeContent button:nth-of-type(2) {
  float: right;
  margin-right: 2.5%;
}

/* Auth screens */

#authContent .title {
  font-weight: 900;
}

#authContent form {
  margin-top: 10%; 
}

#authContent input {
  display: block;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

#authContent button {
  background: #ffc600;
  width: 90%;
  margin: .5rem auto;
  margin-bottom: 2rem;
  padding: .5rem;
  border-bottom: 5px solid #F3C010;
}

#authContent main > div {
  padding: 1.5rem;
  font-size: 1rem;
}

.authAlt {
  text-align: center;
  margin-top: 2.5rem;
  font-size: .8rem;
}

.authAlt a {
  color: black;
  font-weight: 500;
}

.authAlt a:hover {
  color: black;
  text-shadow: 1px 0 0 currentColor;
}

hr {
  width: 50%;
  margin: 0 auto;
  border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Signin */

.signin, .signout {
  margin: 10% auto 0;
}

/* Signup */

.signup {
  margin: 5% auto 0;
}

/* Main Navigation */

#mainNav {
  background: #E5E5E5;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: .5px solid #C2C2C2;
}

#mainNav li {
  list-style: none;
  float: right;
  padding-top: 2rem;
}

#mainNav .logo {
  float: left;
  padding: .5rem 2.5rem;
  padding-right: 1rem;
  font-size: 2rem;
}

.logo a {
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  color: #ffc600;
}

#mainNav li:nth-of-type(2) {
  float: left;
}

#mainNav li:nth-of-type(3) {
  padding-right: 5%;
}

#mainNav li a:not(.logoLink) {
  display: block;
  line-height: 2rem;
  padding: 0 1rem;
  color: black;
  text-decoration: none;
}

#mainNav li a:not(.logoLink):hover {
  color: #3FC2B9;
}

#mainNav .current, #mainNav a:hover.current {
  color: #3FC2B9 !important;
  cursor: default;
}

#mainNav i {
  font-size: 1.5rem;
  padding-top: .2rem; 
}

#addEntryContent main, #entriesContent main, #entryContent main, #notificationsContent main, #profileContent main {
  padding-top: 70px;
}

/* Entries */

.entryList {
  width: 65%;
  margin: 2rem 2rem 2rem 14rem;
}

.entry {
  padding: 1%;
  padding-bottom: 5%;
}

.entry a {
  text-decoration: none;
  color: black;
}

.entry a .title {
  padding-bottom: 1%;
}

.entry p {
  color: #2F2F36;
}

.entry .date {
  color: grey;
  padding-bottom: .5%;
  font-size: .8rem;
}

.entry .actions {
  padding: 1% 1% 1% 0;
}

.entry .actions a {
  color: grey;
}

.entry .actions a:nth-of-type(1) {
  padding-right: 2%;
}

.entry .actions a:nth-of-type(1):hover {
  color: #3FC2B9;
}

.entry .actions a:nth-of-type(2):hover {
  color: red;
}


/* Entry */

#entryContent .entry {
  width: 65%;
  margin: 2rem 2rem 2rem 14rem;
}

#entryContent .entry .content {
  padding-top: 1.5rem;
}


/* Add Entry */

#addEntryContent form {
  width: 65%;
  margin: 2rem 2rem 2rem 14rem;
}

#addEntryContent .heading {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#addEntryContent input, textarea {
  width: 100%;
  display: block;
  padding: 1rem 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem
}

#addEntryContent input {
  margin-bottom: 2rem;
}

#addEntryContent textarea {
  margin-bottom: 2rem;
}

#addEntryContent button {
  background:#ffc600;
    width: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-bottom: 5px solid #F3C010;
    font-size: 1rem;
}

#addEntryContent button:nth-of-type(1) {
  margin-right: 2rem;
}

#addEntryContent button:nth-of-type(1):hover {
  color: green;
}

#addEntryContent button:nth-of-type(2):hover {
  color: red;
}

#addEntryContent button:nth-of-type(1):active {
  background-color: #F3C010;
  color: green;
}

#addEntryContent button:nth-of-type(2):active {
  background-color: #F3C010;
  color: red;
}


/* Clear fix */

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}